<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class = "table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(user) %>
<% end %>


<h1>New book</h1>
<%= form_with model: book do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h3>Opinion</h3>
  <%= f.text_area :body %>
  <%= f.submit "投稿" %>
<% end %>